@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,400i,500,500i&display=swap');





@mixin rect-day {
    background: #F0F0F0;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
@mixin rect-nigth {
    background: #EE3EFE;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

@mixin dayHover {
    background: #FFF4FD;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
@mixin nigthHover {
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

@mixin menusec {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}





.rect-day {
    @include rect-day;

    &:hover{
        @include dayHover;
       }
}
.rect-nigth {
    
    &:hover{
        @include nigthHover;
    }
}

ul, li {
    list-style: none;
    align-items: center;
}


.ctn-menu-sec-sec{
    position: relative;
    list-style: block;
    //margin-left: 148px;
    z-index: 100;

    .menu-sec-sec{
    width: 170px;
    height: 102px;
    padding: 10px;
    

    @include menusec;

.rectangular{
    width: 150px ;
    height: 36px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
  // @include rectangular;

//    &:hover{
//     @include dayHover;
//    }

    }
    }
}